APP_ENV=development
MODEL_PATH=ml/trained/chatbot_model.h5
WORDS_PATH=ml/trained/words.pkl
CLASSES_PATH=ml/trained/classes.pkl
KNOWLEDGE_BASE_PATH=app/knowledge_base/intents.json
DATABASE_URL=
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_EXPIRE_MINUTES=
TF_ENABLE_ONEDNN_OPTS=
